DB_HOST=aws-1-eu-central-1.pooler.supabase.com
DB_PORT=6543
DB_USER=postgres.raizxiwxrkgnhnlccvcx
DB_PASSWORD=CLAIM.claim123456
DB_NAME=postgres
SUPABASE_URL=https://raizxiwxrkgnhnlccvcx.supabase.co
SUPABASE_SERVICE_ROLE_KEY=ta_clé_service_role

# URL publique du frontend exposé par ngrok
PUBLIC_SCAN_BASE_URL=https://urethane-guidance-spousal.ngrok-free.dev
FRONTEND_URL=https://urethane-guidance-spousal.ngrok-free.devDB_HOST=aws-1-eu-central-1.pooler.supabase.com
DB_PORT=6543
DB_USER=postgres.raizxiwxrkgnhnlccvcx
DB_PASSWORD=CLAIM.claim123456
DB_NAME=postgres
SUPABASE_URL=https://raizxiwxrkgnhnlccvcx.supabase.co
SUPABASE_SERVICE_ROLE_KEY=ta_clé_service_role

# URL publique du frontend exposé par ngrok
PUBLIC_SCAN_BASE_URL=https://urethane-guidance-spousal.ngrok-free.dev
FRONTEND_URL=https://urethane-guidance-spousal.ngrok-free.dev