VITE_SUPABASE_URL=https://raizxiwxrkgnhnlccvcx.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJhaXp4aXd4cmtnbmhubGNjdmN4Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQ0MzkwNDQsImV4cCI6MjA5MDAxNTA0NH0.F7mQhIMD0xbx6Xnsc8xvJ1EHqEc369H5AnX-Y6pbTBw
VITE_API_URL=/api
